*.DS_Store
#/.env
/.idea
/.nightwatch.custom.json
/.storybook/.cache
/.storybook/node_modules
/.storybook/storybook-static/
/.vagrant
/app/tests/nightwatch_reports/
/app/tests/nightwatch_screenshots/
/mix-manifest.json
/node_modules/
/public/resources/
/public/assets/
/raygun/
/simple-styleguide/
/themes/app/dist/app.js
/themes/app/dist/app.css
/vendor/
/fulltextsearch-localsolr
*.solr
