.accommodation {
    padding-top: 20px;
    padding-bottom: 30px;
}

.accommodation__desc {
    display: inline-block;
    padding-top: 15px;
}

.accommodation__arrow {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 0;
    width: 60px;
    transform: rotate(90deg);
}

.accommodation__icon {
    width: 120px;
    height: 120px;
}

.accommodation__stage {
    padding-top: 20px;
}

.accommodation__heading {
    padding-bottom: 0;
}

@include media-breakpoint-up(sm) {
    .accommodation__arrow {
        padding-top: 80px;
        width: 60px;
        transform: rotate(0deg);
    }

    .accommodation__icon {
        width: 120px;
        height: 120px;
    }

    .accommodation__stage {
        padding-top: 20px;
        padding-left: 0%;
        padding-right: 0%;
    }

    .accommodation {
        padding-bottom: 30px;
    }

    .accommodation__arrow-frame {
        padding-left: 0%;
        padding-right: 0%;
    }
}

@include media-breakpoint-up(md) {
    .accommodation__arrow {
        padding-right: 0;
        padding-left: 0;
        padding-top: 80px;
        width: 40px;
        transform: rotate(0deg);
    }

    .accommodation__icon {
        width: 160px;
        height: 160px;
    }

    .accommodation__stage {
        padding-top: 0;
        padding-left: 0%;
        padding-right: 0%;
    }

    .accommodation__heading {
        padding-bottom: 20px;
    }

    .accommodation {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@include media-breakpoint-up(lg) {
    .accommodation__arrow {
        padding-top: 101px;
        width: 50px;
        transform: rotate(0deg);
    }

    .accommodation__icon {
        width: 202;
        height: 202;
    }

    .accommodation__stage {
        padding-top: 0;
    }

    .accommodation__heading {
        padding-bottom: 20px;
    }
}

@include media-breakpoint-up(xl) {
    .accommodation__arrow {
        padding-top: 101px;
        width: 50px;
        transform: rotate(0deg);
    }

    .accommodation__icon {
        width: 202px;
        height: 202px;
    }

    .accommodation__stage {
        padding-top: 0;
    }

    .accommodation__heading {
        padding-bottom: 20px;
    }
}
