$gap: 25px;

.alert-box {
    border: 3px solid $orange;
    margin-bottom: $gap;
    padding: $gap;
    width: 100%;
}

@include media-breakpoint-up(lg) {
    .alert-box {
        margin-top: $gap;
    }
}
