$gap: 25px;

.alert-box {
    border: 3px solid $orange;
    margin-bottom: $gap;
    padding: $gap;
    width: 100%;
}

.alert-box__title {
    line-height: $line-height-m;
}

.alert-box__paragraph {
    margin-bottom: 8px;
}

@include media-breakpoint-up(lg) {
    .alert-box {
        margin-top: $gap;
    }
}
