.banner__text {
    padding-left: 10%;
    padding-right: 10%;
}

.banner__images,
.banner__img {
    width: 100%;
}

 // Overriding default bootstrap column padding
.banner__img-frame {
    padding-right: 0%;
    padding-left: 0%;
}

.banner {
    background-color: $gray;
}

.banner__heading {
    font-size: 24px;
}

@media (min-width: 576px) {
    .banner__heading {
        font-size: 28px;
    }

    .banner__text {
        padding-top: 3%;
        padding-bottom: 3%;
    }
}

@media (min-width: 768px) {
    .banner__heading {
        font-size: 30px;
    }
}

@media (min-width: 992px) {
    .banner__heading {
        font-size: 35px;
    }
}

@media (max-width: 575px) {
    .banner__heading {
        font-size: 24px;
    }

    .banner__text {
        padding-top: 3%;
        padding-bottom: 3%;
    }
}
