.banner__text {
    padding-top: 3%;
    padding-bottom: 3%;
}

.banner__image {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 50%;
}

.banner--image {
    padding-top: 226px;
    position: relative;
}

.banner__img-frame {
    position: static;
}

.banner__heading {
    padding-top: 80%;
}

.banner {
    background-color: $grey;
    padding: 16px 0 15px;
}

@media (min-width: 320px) {
    .banner__heading {
        padding-top: 80%;
    }
}

@media (min-width: 377px) {
    .banner__heading {
        padding-top: 40%;
    }
}

@media (min-width: 442px) {
    .banner__heading {
        padding-top: 30%;
    }
}

@include media-breakpoint-up(sm) {
    .banner__heading {
        padding-top: 30%;
    }

    .banner__text {
        padding-top: 3%;
        padding-bottom: 3%;
    }
}

@include media-breakpoint-up(md) {
    .banner__heading {
        padding-top: 0;
    }

    .banner--image {
        padding-top: 440px;
    }

    .banner__image {
        width: 45%;
        height: 100%;
    }

    .banner {
        padding: 20px 0;
    }
}

@include media-breakpoint-up(lg) {
    .banner__heading {
        padding-top: 10%;
    }

    .banner--landing {
        padding-bottom: 70px;
    }

    .banner--image {
        min-height: 300px;
    }

    .banner__image {
        width: 45%;
        height: 100%;
    }

    .banner {
        padding-top: 20px;
    }
}

@include media-breakpoint-up(xl) {
    .banner__image {
        width: 45%;
        height: 100%;
    }
}
