footer img {
    width: 100px;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

.footer__partners {
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.footer__info {
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.color-bar__footer-partners {
    background-color: #E9E9E9;
}

.color-bar__footer-info {
    background-color: #a1a1a1;
}
