.important-items {
    background-color: $white-sand;
    padding: 0;
}

.d-flex {
    flex-direction: column;
}

.important-items__box {
    border: 3px solid $green;
    padding: 25px 15px;
    margin-bottom: 20px;
    text-align: center;
}

.important-items__desc {
    display: none;
}

@include media-breakpoint-up(sm) {
    .important-items {
        padding: 70px 0;
    }
}

@include media-breakpoint-up(md) {
    .d-flex {
        flex-direction: row;
    }

    .important-items__box {
        margin-bottom: 0;
    }

    .important-items__desc {
        display: block;
    }
}
