.important-items {
    background-color: $light-sand;
    padding-top: 70px;
    padding-bottom: 50px;
}

.important-items__columns {
    flex-direction: column;
}

.important-items__box {
    border: 3px solid $green;
    background-color: white;
    padding: 25px 30px;
    margin-bottom: 20px;
    text-align: center;

    a {
        text-decoration: none;
    }
}

.important-items__desc {
    display: none;
}

.important-item__headers {
    &::after {
        content: '';
        display: inline;
        padding-left: 30px;
        background: url('../dist/images/arrow-intext.svg') center 12px no-repeat;

        @include media-breakpoint-up(lg) {
            background: url('../dist/images/arrow-intext.svg') center 15px no-repeat;
        }
    }

    &:hover::after {
        background-image: url('../dist/images/arrow-intext-link.svg');
    }
}

@include media-breakpoint-up(sm) {
    .important-items {
        padding: 70px 0;
    }
}

@include media-breakpoint-up(md) {
    .important-items__columns {
        flex-direction: row;
    }

    .important-items__box {
        margin-bottom: 0;
        padding: 25px;
    }

    .important-items__desc {
        display: block;
    }
}
