.important-items {
    background-color: $light-sand;
    padding: 70px 0;
}

.d-flex {
    flex-direction: column;
}

.important-items__box {
    border: 3px solid $green;
    background-color: white;
    padding: 25px 30px;
    margin-bottom: 20px;
    text-align: center;
}

.important-items__box a {
    text-decoration: none;
}

.important-items__desc {
    display: none;
}

.important-item__headers {
    &::after {
        content: '';
        background: url('../dist/images/arrow-intext.svg') center center no-repeat;
        padding-left: 30px;
        display: inline;
    }

    &:hover::after {
        background-image: url('../dist/images/arrow-intext-link.svg');
    }
}

@include media-breakpoint-up(sm) {
    .important-items {
        padding: 70px 0;
    }
}

@include media-breakpoint-up(md) {
    .d-flex {
        flex-direction: row;
    }

    .important-items__box {
        margin-bottom: 0;
        padding: 25px 25px;
    }

    .important-items__desc {
        display: block;
    }
}
