$menuBorderColor: gray;
$menuBorderWidth: 2px;

.main-nav__top-menu {
    display: flex;
    justify-content: space-between;
    border-color: $menuBorderColor;
    border-style: solid;
    border-width: 0 0 $menuBorderWidth;
}

.main-nav__logo {
    img {
        background: url('./images/logo-small.png') no-repeat;
        margin: 10px 20px;
        height: 50px;
        width: 144px;
    }
}

.main-nav__menu-hamburger {
    background-color: transparent;
    align-content: center;
    margin-right: 10px;

    &:focus {
        box-shadow: none;
    }
}

.main-nav__search {
    padding: 10px 20px;
    width: 100%;
    border-color: $menuBorderColor;
    border-style: solid;
    border-width: 0 0 $menuBorderWidth;

    input,
    button {
        border-radius: 0;
    }
}

.main-nav__donate {
    border-radius: 0;
    margin: 10px 20px;
    width: 150px;
}

.main-nav__main-menu {
    background-color: white;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;

    li {
        border-color: $menuBorderColor;
        border-style: solid;
        border-width: 0 0 $menuBorderWidth;
        padding: 20px;
    }
}

@include media-breakpoint-up(lg) {
    .main-nav {
        align-items: center;
    }

    .main-nav__logo {
        img {
            background: url('./images/logo.png') no-repeat;
            height: 80px;
            width: 231px;
        }
    }

    .main-nav__top-menu {
        border-style: none;
    }

    .main-nav__right-menu {
        align-items: center;
        display: flex;
    }

    .main-nav__search {
        border-style: none;
        height: 70px;
        width: 300px;
    }

    .main-nav__donate {
        height: 50px;
        margin: 10px 20px 10px 0;
    }

    .main-nav__main-menu {
        border-color: $menuBorderColor;
        border-style: solid;
        border-width: 0 0 $menuBorderWidth;
        flex-direction: row;
        justify-content: space-around;
        padding: 0 20px;
        position: static;
        width: 100%;
        z-index: 0;

        li {
            border-style: none;
        }
    }
}
