.page-header {
    background-color: $light-sand;
    padding: 30px 0;
    text-align: left;

    .btn {
        z-index: 0;
    }
}

.page-header__summary {
    margin: 14px 0 0;
}

.breadcrumb__parents {
    margin-bottom: 0;

    a {
        color: $navy-blue;
        font-weight: $font-weight-regular;
        font-size: $font-size-xxxxs;
        text-decoration: underline;

        &:hover {
            color: $link-blue;
        }
    }
}

.breadcrumb__arrow {
    color: $navy-blue;
}

.search-page__search {
    margin-top: 28px;

    .form-control {
        border-color: $sand;
        font-weight: $font-weight-regular;
        font-size: $font-size-xxs;
    }
}

.search-page__search-button {
    border-color: $sand;
    border-width: 0.5px 0.5px 0.5px 0;
    padding: 10px;

    &:hover {
        background-color: white;
    }
}

.search-page__search-logo {
    height: $font-size-xxs;
    width: auto;
}

@include media-breakpoint-up(sm) {
    .page-header {
        padding: 50px 0;
    }
}

@include media-breakpoint-up(md) {
    .page-header__summary {
        margin-top: 18px;
    }
}
