.pagination {
    padding-top: 20px;
    padding-bottom: 50px;

    @include media-breakpoint-up(lg) {
        padding-bottom: 60px;
    }
}

.pagination__text {
    margin: 0 4px;
    padding: 10px 14px;

    a {
        font-weight: $font-weight-regular;
        font-size: $font-size-xs;
        color: $dark-grey;
    }
}

.pagination__dots {
    padding: 10px 5px;
}

.pagination__pagenum {
    &:hover {
        background-color: $sand;
    }

    &.current {
        background-color: $green;
    }
}

.pagination__link {
    &.disabled {
        cursor: not-allowed;
        pointer-events: none;
    }

    &:hover {
        text-decoration: none;
    }
}

.pagination__prev,
.pagination__next {
    height: 12px;
    width: auto;
}

.pagination__prev {
    transform: rotate(180deg);
}

.pagination__mobile {
    display: flex;
    margin: 0 10px;
}

.pagination__phablet {
    display: none;
}

@include media-breakpoint-up(sm) {
    .pagination__mobile {
        display: none;
    }

    .pagination__phablet {
        display: flex;
        margin: 0 10px;
    }
}
