$verticalGap: 15px;

.page-header {
    background-color: silver;
    padding: $verticalGap 0;
    text-align: left;
}

.breadcrumb__parents {
    a {
        font-family: 'SourceSansPro', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: $dark-grey;
        text-decoration: underline;
    }
}
