.page-header {
    background-color: $light-sand;
    padding: 30px 0;
    text-align: left;

    .btn {
        z-index: 0;
    }
}

.breadcrumb__parents {
    margin-bottom: 0;

    a {
        color: $navy-blue;
        font-weight: $font-weight-regular;
        font-size: $font-size-xxxxs;
        text-decoration: underline;

        &:hover {
            color: $link-blue;
        }
    }
}

.breadcrumb__arrow {
    color: $navy-blue;
}

@include media-breakpoint-up(sm) {
    .page-header {
        padding: 50px 0;
    }
}
