.pagination {
    align-items: center;
    padding-top: 35px;
    padding-bottom: 40px;

    @include media-breakpoint-up(lg) {
        padding-bottom: 60px;
    }
}

.pagination__text {
    margin: 0 8px;
    padding: 10px 14px;

    &:first-child {
        margin-left: 0;
        padding: 10px 0;
    }

    &:last-child {
        margin-right: 0;
        padding: 10px 0;
    }

    a {
        font-weight: $font-weight-regular;
        font-size: $font-size-xs;
        color: $dark-grey;
    }
}

.pagination__pagenum {
    background-color: $green;
}

.pagination__link {
    display: block;

    &.disabled {
        cursor: not-allowed;
        pointer-events: none;
    }

    &:hover {
        text-decoration: none;
    }
}

.pagination__prev,
.pagination__next {
    height: 15px;
    width: auto;
}

.pagination__prev {
    transform: rotate(180deg);
    margin-right: 10px;
}

.pagination__next {
    margin-left: 10px;
}
