img.center {
  margin: 0 auto;
  display: block;
}

img.leftAlone {
  @extend .float-left;

  padding: 0 1rem 1rem 0;
  display: block;
}

img.leftAlone + * {
  clear: both;
}

img.rightAlone {
  @extend .float-right;

  padding: 0 0 1rem 1rem;
  display: block;
}

img.left {
  float: left;
  padding: 0 1rem 1rem 0;
}

img.right {
  float: right;
  padding: 0 0 1rem 1rem;
}
