body {
    margin: 0;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

p {
    margin: 0;
}

main {
    text-align: center;
}

footer {
    margin: 20px 20px 10px;
}
