body {
    margin: 0;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

p {
    margin: 0;
}

.color-bar {
    margin-left: 0%;
    margin-right: 0%;
}

.page-content__main {
    img {
        max-width: 100%;
        height: auto;
    }

    p {
        margin: 20px 0;
    }
}
