body {
    margin: 0;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

p {
    margin: 0;
}

main {
    text-align: center;
}

.color-bar {
    margin-left: 0%;
    margin-right: 0%;
}
