.staff-list {
    flex-direction: column;
}

.staff {
    display: flex;
}

.staff__photo {
    img {
        border-radius: 99px;
    }
}

.staff__title {
    display: flex;
    justify-content: center;

    h3 {
        margin: 8px 5px;
    }
}
