$font-path: './webfonts';

@font-face {
    font-family: 'SourceSansPro';
    font-style: normal;
    font-weight: 300;
    src:
        url('#{$font-path}/SourceSansPro-Light.woff2') format('woff2'),
        url('#{$font-path}/SourceSansPro-Light.woff') format('woff');
}

@font-face {
    font-family: 'SourceSansPro';
    font-style: italic;
    font-weight: 300;
    src:
        url('#{$font-path}/SourceSansPro-LightItalic.woff2') format('woff2'),
        url('#{$font-path}/SourceSansPro-LightItalic.woff') format('woff');
}

@font-face {
    font-family: 'SourceSansPro';
    font-style: normal;
    font-weight: 400;
    src:
        url('#{$font-path}/SourceSansPro-Regular.woff2') format('woff2'),
        url('#{$font-path}/SourceSansPro-Regular.woff') format('woff');
}

@font-face {
    font-family: 'SourceSansPro';
    font-style: italic;
    font-weight: 400;
    src:
        url('#{$font-path}/SourceSansPro-Italic.woff2') format('woff2'),
        url('#{$font-path}/SourceSansPro-Italic.woff') format('woff');
}

@font-face {
    font-family: 'SourceSansPro';
    font-style: normal;
    font-weight: 600;
    src:
        url('#{$font-path}/SourceSansPro-SemiBold.woff2') format('woff2'),
        url('#{$font-path}/SourceSansPro-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'SourceSansPro';
    font-style: italic;
    font-weight: 600;
    src:
        url('#{$font-path}/SourceSansPro-SemiBoldItalic.woff2') format('woff2'),
        url('#{$font-path}/SourceSansPro-SemiBoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'SourceSansPro';
    font-style: normal;
    font-weight: 700;
    src:
        url('#{$font-path}/SourceSansPro-Bold.woff2') format('woff2'),
        url('#{$font-path}/SourceSansPro-Bold.woff') format('woff');
}

@font-face {
    font-family: 'SourceSansPro';
    font-style: italic;
    font-weight: 700;
    src:
        url('#{$font-path}/SourceSansPro-BoldItalic.woff2') format('woff2'),
        url('#{$font-path}/SourceSansPro-BoldItalic.woff') format('woff');
}

body {
    font-family: 'SourceSansPro', sans-serif;
}

@for $index from 1 through 6 {
    h#{$index} {
        margin: 8px 0;
    }
}

@for $index from 2 through 6 {
    h#{$index} {
        color: $grey;
    }
}

h1 {
    font-weight: 700;
    font-size: 32px;
    color: $dark-grey;
    line-height: 1.1;

    @include media-breakpoint-up(md) {
        font-size: 42px;
    }
}

h2 {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.1;

    @include media-breakpoint-up(md) {
        font-size: 32px;
    }
}

h3 {
    font-weight: 600;
    font-size: 26px;
    line-height: 1.2;

    @include media-breakpoint-up(md) {
        font-size: 28px;
    }
}

h4 {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.3;
}

h5 {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
}

h6 {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3;
}

a {
    font-weight: 700;
    font-size: 16px;
    color: $link-blue;
    line-height: 1.3;
    text-decoration: none;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $navy-blue;

        &:hover {
            color: $link-blue;
        }
    }
}

p {
    font-weight: 400;
    font-size: 16px;
    color: $dark-grey;
    line-height: 1.3;
    margin-bottom: 20px;
}

li {
    font-weight: 400;
    font-size: 16px;
    color: $dark-grey;
    line-height: 1.3;
    margin-bottom: 4px;
}

blockquote {
    padding-left: 13px;
    border-left: 7px solid $red-orange;

    p {
        font-weight: 300;
        font-size: 20px;
        color: $grey;
        line-height: 1.25;
    }
}

form {
    label {
        font-weight: 300;
        font-size: 18px;
        color: $grey;
    }

    .field {
        margin-bottom: 12px;

        > label {
            margin-bottom: 4px;
        }
    }

    .form-control {
        font-weight: 400;
        font-size: 18px;
        border-color: $grey;
        border-width: 1px;

        &:focus {
            border-color: lighten($link-blue, 30%);
            box-shadow: 0 0 0 0.15rem lighten($link-blue, 30%);
        }
    }

    // if success
    input.holder-good {
        border-color: $success-green;
        border-width: 2px;

        &:focus {
            border-color: lighten($success-green, 20%);
            box-shadow: 0 0 0 0.15rem lighten($success-green, 20%);
        }
    }

    .good {
        color: $success-green;
    }

    // if warning
    input.holder-warning {
        border-color: $orange;
        border-width: 2px;

        &:focus {
            border-color: lighten($orange, 20%);
            box-shadow: 0 0 0 0.15rem lighten($orange, 20%);
        }
    }

    .warning {
        color: $red-orange;
    }

    // if failure
    input.holder-bad {
        border-color: $warning-red;
        border-width: 2px;

        &:focus {
            border-color: lighten($warning-red, 30%);
            box-shadow: 0 0 0 0.15rem lighten($warning-red, 30%);
        }
    }

    .bad {
        color: $warning-red;
    }

    // list of options
    .optionset {
        list-style-type: none;
        padding: 0;
    }

    .checkbox,
    .radio {
        label {
            font-weight: 400;
        }
    }
}

select {
    font-weight: 400;
    color: $grey;
}

table {
    color: $dark-grey;
    margin-bottom: 20px;

    thead {
        border-color: $sand;
        border-style: solid;
        border-width: 1px 0 1px;
        font-weight: 600;
        font-size: 18px;
    }

    tbody {
        font-weight: 400;
        font-size: 16px;

        tr:nth-child(2) {
            background-color: $light-sand;
        }
    }

    td {
        padding: 10px 25px;
    }
}

.btn {
    font-weight: 700;
    font-size: 16px;
    color: $red-orange;
    background-color: white;
    line-height: 1.1;
    border-color: $orange;
    border-radius: 5px;
    border-width: 2px;
    padding: 10px 20px;
    text-transform: uppercase;

    &:hover {
        color: white;
        background-color: $orange;
    }
}

.caption {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 24px;
}

.summary {
    font-weight: 300;
    font-size: 22px;
    margin: 20px 0 16px;

    @include media-breakpoint-up(md) {
        font-size: 28px;
        line-height: 1.2;
    }
}

.sidebar {
    h2 {
        font-weight: 700;
        font-size: 20px;
        color: $dark-grey;
    }
}

.typography {
    div {
        &.left {
            display: block;
            margin-right: auto;
        }

        &.center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        &.right {
            display: block;
            margin-left: auto;
        }
    }

    img {
        max-width: 100%;
        height: auto;
        margin: 4px 0 16px;

        &.left {
            display: block;
            margin-right: auto;
        }

        &.center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        &.right {
            display: block;
            margin-left: auto;
        }
    }

    p {
        &.left {
            text-align: left;
        }

        &.center {
            text-align: center;
        }

        &.right {
            text-align: right;
        }
    }
}
