/**
 * Application variables
 */
$orange: #FD9242;
$green: #AAD273;
$navy-blue: #364D67;
$link-blue: #4B77AA;
$red-orange: #F56200;
$grey: #555;
$dark-grey: #333;

/**
 * Bootstrap variable overrides
 */
