/**
 * Application variables
 */
$light-sand: #F4F2F0;
$sand: #DED9D3;
$green: #AAD273;
$success-green: #28A745;
$warning-red: #DC3545;
$red-orange: #F56200;
$orange: #FD9242;
$navy-blue: #364D67;
$link-blue: #4B77AA;
$grey: #666;
$dark-grey: #444;
