.homepage__banner-text {
    background-color: #EDEDED;
    padding-left: 10%;
    padding-right: 10%;
}
.homepage__banner-images,
.homepage__banner-img {
    width: 100%;
}
 // Overriding default bootstrap column padding
.homepage_banner-img-frame {
    padding-right: 0%;
    padding-left: 0%;
}
 .homepage__banner {
    background-color: #EDEDED;
}
